<style>
   .scroll1 {
     overflow:scroll;
     height:70%;
     width:100%;
}
</style>
<!-- tabla de data -->
<form *ngIf="modoCamaraBool === true; else tablaImagenestag" (ngSubmit)="insertarFormulario(Formulario)"
  #Formulario="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <ion-button style="margin: 0 !important; padding: 0 !important" size="large" expand="full" (click)="modoCamara()" color="primary">
          <h6 class="text-center no-margin">{{titulo}}</h6> <ion-icon name="camera-reverse-sharp"></ion-icon>
        </ion-button>
      <div style="clear:both"></div>
    </div>
    <div class="panel-body p5">
      <input type="hidden" class="form-control" [(ngModel)]="tipo" name="tipo_pag">
      <input type="hidden" class="form-control" ngModel="C" name="tipo_ubicacion">
      <div>
        <div class="scroll1">
          <table class="table table-striped table-bordered table-hover no-padding sticky_header">
            <thead>
              <tr class="i"
                style="position: sticky; top: 0; z-index: 10; color: white; background: #0277bd; background-color: #0277bd;">
                <th>
                  <p class="text-center p5 no-margin">#</p>
                </th>
                <th *ngFor="let itemHeadCuadrante of headCuadranteTable;">
                  <p class="text-center p5 no-margin">{{itemHeadCuadrante}}</p>
                </th>
              </tr>
            </thead>
            <tbody id="InputCalidad">
              <tr *ngFor="let itemLinea of maxLineas;let iml = index">
                <td>
                  <p class="text-center p5 no-margin">{{(iml + 1)}}</p>
                </td>
                <td *ngFor="let itemNcuadrantes of maxCuadrantes;let inc = index">
                  <p class="text-center p5 no-margin "
                    *ngIf="TablaFormularioDet.length > 0 ; else tablaCuadrantePruebatag">
                    <ion-select (ionChange)="onGuardarCuadranteChange($event,tipo,'C')" style="background: lightgreen;" placeholder="-----" class="form-control"
                      *ngIf="(FormularioDet['L'+(iml+1)+'_C'+(inc+1)] | keyvalue)?.length; else tablaCuadrantetag"
                      ngModel="{{FormularioDet['L'+(iml+1)+'_C'+(inc+1)].linea + '_' + FormularioDet['L'+(iml+1)+'_C'+(inc+1)].nombre + '_' + FormularioDet['L'+(iml+1)+'_C'+(inc+1)].valor}}"
                      name="L{{(iml+1)+'-C'+(inc+1)}}" interface="action-sheet" >
                      <ion-select-option *ngFor="let itemNotas of maxNotas"
                        value="{{(iml+1)+'_C'+(inc+1)+'_'+itemNotas}}">
                        {{itemNotas}}</ion-select-option>
                    </ion-select>
                    <ng-template #tablaCuadrantetag>
                      <ion-select (ionChange)="onGuardarCuadranteChange($event,tipo,'C')" placeholder="-----" class="form-control" ngModel name="L{{(iml+1)+'-C'+(inc+1)}}"
                        interface="action-sheet">
                        <ion-select-option *ngFor="let itemNotas of maxNotas"
                          value="{{(iml+1)+'_C'+(inc+1)+'_'+itemNotas}}">
                          {{itemNotas}}</ion-select-option>
                      </ion-select>
                    </ng-template>
                  </p>
                  <ng-template #tablaCuadrantePruebatag>
                    <p class="text-center p5 no-margin ">
                      <ion-select (ionChange)="onGuardarCuadranteChange($event,tipo,'C')" placeholder="-----" class="form-control" ngModel name="L{{(iml+1)+'-C'+(inc+1)}}"
                        interface="action-sheet">
                        <ion-select-option *ngFor="let itemNotas of maxNotas"
                          value="{{(iml+1)+'_C'+(inc+1)+'_'+itemNotas}}">
                          {{itemNotas}}</ion-select-option>
                      </ion-select>
                    </p>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
   <!-- <div class="col-xs-12 text-center">
      <ion-button type="submit" size="large" color="tertiary" expand="full">
        <ion-icon name="checkmark-outline"></ion-icon>
        Grabar
      </ion-button>
    </div>-->
  </div>
  <div style="clear:both"></div>
  <br>
  <div class="hidden panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center"><b>BASE DE DATOS</b></div>
    <div class="panel-body"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>FORM_ID</th>
          <th>LINEA</th>
          <th>COL.</th>
          <th>VALOR</th>
          <th>PAGINA</th>
          <th>TIPO</th>
          <th>USU_CRE</th>
          <th>FEC_CRE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of TablaFormularioDet">
          <td>{{data.id}}</td>
          <td>{{data.formulario_id}}</td>
          <td>{{data.linea}}</td>
          <td>{{data.nombre}}</td>
          <td>{{data.valor}}</td>
          <td>{{data.tipo_pag}}</td>
          <td>{{data.tipo_ubicacion}}</td>
          <td>{{data.usuario_cre_id}}</td>
          <td>{{data.fecha_cre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<!--tabla de images-->
<ng-template #tablaImagenestag>
  <div class="panel panel-primary">
    <div class="panel-heading p5">
      <ion-button style="margin: 0 !important; padding: 0 !important" size="large" expand="full" (click)="modoCamara()" color="primary">
        <h6 class="text-center no-margin">{{titulo}}</h6> <ion-icon name="camera-reverse-sharp"></ion-icon>
      </ion-button>
    <div style="clear:both"></div>
    </div>
    <div class="panel-body p5">
      <input type="hidden" class="form-control" [(ngModel)]="tipo" name="tipo_pag">
      <input type="hidden" class="form-control" ngModel="C" name="tipo_ubicacion">
      <div>
        <div class="scroll1">
          <table class="table table-striped table-bordered table-hover no-padding sticky_header">
            <thead>
              <tr class="i"
                style="position: sticky; top: 0; z-index: 10; color: white; background: #0277bd; background-color: #0277bd;">
                <th>
                  <p class="text-center p5 no-margin">#</p>
                </th>
                <th *ngFor="let itemHeadCuadrante of headCuadranteTable;">
                  <p class="text-center p5 no-margin">{{itemHeadCuadrante}}</p>
                </th>
              </tr>
            </thead>
            <tbody id="InputCalidad">
              <tr *ngFor="let itemLinea of maxLineas;let iml = index">
                <td>
                  <p class="text-center p5 no-margin">{{(iml + 1)}}</p>
                </td>
                <td *ngFor="let itemNcuadrantes of maxCuadrantes;let inc = index">
                  <p class="text-center p5 no-margin ">
                    <ion-button [disabled]="!FormularioDet['L'+(iml+1)+'_C'+(inc+1)]" expand="full" color="warning" (click)="camara((iml+1)+'_C'+(inc+1),tipo,'C')">
                      <ion-icon name="camera-sharp"></ion-icon>&nbsp;
                      <ion-badge *ngIf="tempImagesCons['L'+(iml+1)+'_C'+(inc+1)]?.cnt > 0" color="tertiary" type="ios">
                        {{tempImagesCons['L'+(iml+1)+'_C'+(inc+1)].cnt}}
                      </ion-badge>
                    </ion-button>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <br>
<div class="panel panel-default {{hiddenTable}}">
  <!-- Default panel contents -->
  <div class="panel-heading text-center"><b>BASE DE DATOS IMG</b></div>
  <div class="panel-body"></div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>FORM_ID</th>
        <th>LINEA</th>
        <th>CUADRANTE</th>
        <th>CNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tempImagesTabla">
        <td>{{data.formulario_id}}</td>
        <td>{{data.linea}}</td>
        <td>{{data.cuadrante}}</td>
        <td>{{data.cnt}}</td>
      </tr>
    </tbody>
  </table>
</div>
</ng-template>


