<form [formGroup]="Formulario" (ngSubmit)="insertarFormulario()">
  <ion-row>
    <ion-col class="ion-align-self-start">
      <ion-item>
        <ion-label>Responsable</ion-label>
        <ion-select [disabled]="true" [(ngModel)]="SelectUsuario[0].codigo" formControlName="responsable_id"
          interface="action-sheet">
          <ion-select-option selectedText value="{{ SelectUsuario[0].codigo }}">{{ SelectUsuario[0].descripcion }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col class="ion-align-self-end">
      <ion-item>
        <ion-label position="fixed">Hacienda</ion-label>
        <ion-select formControlName="hacienda_id" *ngIf="TablaFormularioCab.length < 1 ; else haciendatag"
          placeholder="Seleccionar Hacienda" interface="action-sheet" (ionChange)="onChangeLote($event)">
          <ion-select-option *ngFor="let value of SelectHacienda" value="{{ value.codigo }}">{{ value.descripcion }}
          </ion-select-option>
        </ion-select>
        <ng-template #haciendatag>
          <ion-input [disabled]="true">{{FormularioCab[0].hacienda}}</ion-input>
        </ng-template>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-start">
      <ion-item>
        <ion-label position="fixed">Lote</ion-label>
        <ion-select [disabled]="SelectLote.length < 1" formControlName="lote_id"
          *ngIf="TablaFormularioCab.length < 1 ; else lotetag" placeholder="Seleccionar lote" interface="action-sheet"
          (ionChange)="onChangeModulo($event)">
          <ion-select-option *ngFor="let value of SelectLote" value="{{ value.codigo }}">{{ value.descripcion }}
          </ion-select-option>
        </ion-select>
        <ng-template #lotetag>
          <ion-input [disabled]="true">{{ FormularioCab[0].lote }}</ion-input>
        </ng-template>
      </ion-item>
    </ion-col>
    <ion-col class="ion-align-self-center">
      <ion-item>
        <ion-label position="fixed">Modulo</ion-label>
        <ion-select [disabled]="SelectModulo.length < 1" formControlName="modulo_id"
          *ngIf="TablaFormularioCab.length < 1 ; else modulotag" placeholder="Seleccionar modulo"
          interface="action-sheet">
          <ion-select-option *ngFor="let value of SelectModulo" value="{{ value.codigo }}">{{ value.descripcion }}
          </ion-select-option>
        </ion-select>
        <ng-template #modulotag>
          <ion-input [disabled]="true">{{ FormularioCab[0].modulo }}</ion-input>
        </ng-template>
      </ion-item>
    </ion-col>
    <ion-col class="ion-align-self-end">
      <ion-item>
        <ion-label position="fixed">Tipo de muestra</ion-label>
        <ion-select formControlName="tipo_muestra_id" *ngIf="TablaFormularioCab.length < 1 ; else tipo_muestratag"
          placeholder="Seleccionar muestra" interface="action-sheet">
          <ion-select-option *ngFor="let value of SelectTipoMuestra" value="{{ value.codigo }}">{{ value.descripcion }}
          </ion-select-option>
        </ion-select>
        <ng-template #tipo_muestratag>
          <ion-input [disabled]="true">{{FormularioCab[0].tipo_muestra}}</ion-input>
        </ng-template>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button *ngIf="TablaFormularioCab.length < 1 ; else liquidartag" type="submit" size="large" color="tertiary"
        expand="block">
        <ion-icon name="checkmark-outline"></ion-icon>
        Grabar
      </ion-button>
      <ng-template #liquidartag>
        <ion-button (click)="liquidarFormulario()" type="button" size="large" color="danger" expand="block">
          <ion-icon name="warning-outline"></ion-icon>
          Liquidar
        </ion-button>
      </ng-template>
    </ion-col>
  </ion-row>
</form>
<div class="panel panel-default {{hiddenTable}} ">
  <!-- Default panel contents -->
  <div class="panel-heading text-center"><b>FORMULARIOS {{ FormularioCab[0]?.modulo }}</b></div>
  <div class="panel-body"></div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>T. FORM</th>
        <th>HAC</th>
        <th>MUESTRA</th>
        <th>LOTE</th>
        <th>MODULO</th>
        <th>USU_CRE</th>
        <th>FEC_CRE</th>
        <th>LIQ.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of TablaFormularioCab">
        <td>{{data.id}}</td>
        <td>{{data.tipo_form}}</td>
        <td>{{data.hacienda}}</td>
        <td>{{data.tipo_muestra}}</td>
        <td>L{{data.lote_id}}</td>
        <td>M{{data.modulo_id}}</td>
        <td>{{data.usuario_cre}}</td>
        <td>{{data.fecha_cre}}</td>
        <td>{{data.liquidado}}</td>
      </tr>
    </tbody>
  </table>
</div>
