<ion-header translucent>
  <ion-toolbar>
    <ion-title>PERFIL</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>Correo</h3>
      <p>{{correo}}</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h3>Nombres</h3>
      <p>{{nombre}}</p>
    </ion-label>
  </ion-item>
</ion-content>
