<style>
  .header-fixed {
    position: relative;
    max-height: 100%;
  }

  .header-fixed thead {
    position: sticky !important;
    top: 0;
    z-index: 10;
  }
  .scroll1 {
     overflow:scroll;
     height:70%;
     width:100%;
}
</style>
<form *ngIf="modoCamaraBool === true; else tablaImagenestag" (ngSubmit)="insertarFormulario(Formulario)" #Formulario="ngForm">
  <div class="panel panel-primary">
    <div class="panel-heading p5">
       <ion-button style="margin: 0 !important; padding: 0 !important" size="large" expand="full" (click)="modoCamara()" color="primary">
        <h6 class="text-center no-margin">{{titulo}}</h6> <ion-icon name="camera-reverse-sharp"></ion-icon>
      </ion-button>
    <div style="clear:both"></div>
    </div>
    <div class="panel-body p5">

      <input type="hidden" class="form-control" [(ngModel)]="tipo" name="tipo_pag">
      <input type="hidden" class="form-control" ngModel="R" name="tipo_ubicacion">
      <div>
        <div class="scroll1">
          <table class="header-fixed table table-striped table-bordered no-padding">
            <thead>
              <tr class="i" style="color: white; background: #0277bd; background-color: #0277bd;">
                <th rowspan="2">
                  <p class="text-center p5 no-margin">#</p>
                </th>
                <th *ngFor="let itemHeadCuadrante of headCuadranteTable;" colspan="2">
                  <p class="text-center p5 no-margin">{{itemHeadCuadrante}}</p>
                </th>
              </tr>
              <tr class="i" style="color: white; background: #0277bd; background-color: #0277bd;">
                <ng-container *ngFor="let itemHeadCuadrante of headCuadranteTable;">
                  <th *ngFor="let itemHeadRama of headRamaTable;" colspan="1">
                    <p class="text-center p5 no-margin"> {{ itemHeadRama}} </p>
                  </th>
                </ng-container>
              </tr>
            </thead>
            <tbody id="InputCalidad">
              <tr *ngFor="let itemLinea of maxLineas;let iml = index">
                <td>
                  <p class="text-center p5 no-margin">{{ itemLinea }}</p>
                </td>
                <ng-container *ngFor="let itemHeadCuadrante of headCuadranteTable;let hc = index">
                  <td *ngFor="let itemHeadRama of headRamaTable;let hrt = index">
                    <p class="text-center p5 no-margin "
                      *ngIf="TablaFormularioDet.length > 0 ; else tablaCuadrantePruebatag">
                      <ion-select style="background: lightgreen;" placeholder="-----" class="form-control"
                        *ngIf="(FormularioDet['L'+(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)] | keyvalue)?.length; else tablaCuadrantetag"
                        ngModel="{{FormularioDet['L'+(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)].linea + '_' + FormularioDet['L'+(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)].nombre + '_' + FormularioDet['L'+(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)].nombre2 + '_' + FormularioDet['L'+(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)].valor2}}"
                        name="L{{(iml+1)+'-C'+(hc+1)+'-R'+(hrt+1)}}" interface="action-sheet">
                        <ion-select-option *ngFor="let itemNotas of maxNotas;let inc = index"
                          value="{{(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)+'_'+itemNotas}}">
                          {{itemNotas}}</ion-select-option>
                      </ion-select>
                      <ng-template #tablaCuadrantetag>
                        <ion-select placeholder="-----" class="form-control" ngModel
                          name="L{{(iml+1)+'-C'+(hc+1)+'-R'+(hrt+1)}}" interface="action-sheet">
                          <ion-select-option *ngFor="let itemNotas of maxNotas;let inc = index"
                            value="{{(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)+'_'+itemNotas}}">
                            {{itemNotas}}</ion-select-option>
                        </ion-select>
                      </ng-template>
                    </p>
                    <ng-template #tablaCuadrantePruebatag>
                      <p class="text-center p5 no-margin ">
                        <ion-select placeholder="-----" class="form-control" ngModel
                          name="L{{(iml+1)+'-C'+(hc+1)+'-R'+(hrt+1)}}" interface="action-sheet">
                          <ion-select-option *ngFor="let itemNotas of maxNotas;let inc = index"
                            value="{{(iml+1)+'_C'+(hc+1)+'_R'+(hrt+1)+'_'+itemNotas}}">
                            {{itemNotas}}</ion-select-option>
                        </ion-select>
                      </p>
                    </ng-template>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <ion-button type="submit" size="large" color="tertiary" expand="block">
      <ion-icon name="checkmark-outline"></ion-icon>
      Grabar
    </ion-button>
  </div>
  <div style="clear:both"></div>
  <br>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading text-center"><b>BASE DE DATOS</b></div>
    <div class="panel-body"></div>
    <!-- Table -->
     <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>FORMULARIO_ID</th>
          <th>LINEA</th>
          <th>COLUMNA</th>
          <th>RAMA</th>
          <th>VALOR</th>
          <th>PAGINA</th>
          <th>TIPO</th>
          <th>USUARIO CRE</th>
          <th>FECHA CRE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of TablaFormularioDet">
          <td>{{data.id}}</td>
          <td>{{data.formulario_id}}</td>
          <td>{{data.linea}}</td>
          <td>{{data.nombre}}</td>
          <td>{{data.nombre2}}</td>
          <td>{{data.valor2}}</td>
          <td>{{data.tipo_pag}}</td>
          <td>{{data.tipo_ubicacion}}</td>
          <td>{{data.usuario_cre_id}}</td>
          <td>{{data.fecha_cre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<ng-template #tablaImagenestag>
  <div class="panel panel-primary">
  <div class="panel-heading p5">
    <ion-button style="margin: 0 !important; padding: 0 !important" size="large" expand="full" (click)="modoCamara()" color="primary">
      <h6 class="text-center no-margin">{{titulo}}</h6> <ion-icon name="camera-reverse-sharp"></ion-icon>
    </ion-button>
  <div style="clear:both"></div>
  </div>
  <div class="panel-body p5">

    <input type="hidden" class="form-control" [(ngModel)]="tipo" name="tipo_pag">
    <input type="hidden" class="form-control" ngModel="C" name="tipo_ubicacion">
    <div>
      <div class="scroll1">
        <table class="header-fixed table table-striped table-bordered no-padding">
          <thead>
            <tr class="i" style="color: white; background: #0277bd; background-color: #0277bd;">
              <th rowspan="2">
                <p class="text-center p5 no-margin">#</p>
              </th>
              <th *ngFor="let itemHeadCuadrante of headCuadranteTable;" colspan="2">
                <p class="text-center p5 no-margin">{{itemHeadCuadrante}}</p>
              </th>
            </tr>
            <tr class="i" style="color: white; background: #0277bd; background-color: #0277bd;">
              <ng-container *ngFor="let itemHeadCuadrante of headCuadranteTable;">
                <th *ngFor="let itemHeadRama of headRamaTable;" colspan="1">
                  <p class="text-center p5 no-margin"> {{ itemHeadRama}} </p>
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody id="InputCalidad">
            <tr *ngFor="let itemLinea of maxLineas;let iml = index">
              <td>
                <p class="text-center p5 no-margin">{{ itemLinea }}</p>
              </td>
              <ng-container *ngFor="let itemHeadCuadrante of headCuadranteTable;let hc = index">
                <td *ngFor="let itemHeadRama of headRamaTable;let hrt = index">
                    <p class="text-center p5 no-margin ">
                      <ion-button expand="full" color="warning" (click)="camara((iml+1)+'_C'+(hc+1)+'_R'+(hrt+1),tipo,'R')">
                        <ion-icon name="camera-sharp"></ion-icon>
                      </ion-button>
                    </p>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center"><b>BASE DE DATOS IMG</b></div>
  <div class="panel-body"></div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>FORM_ID</th>
        <th>LINEA</th>
        <th>CUADRANTE</th>
        <th>RAMA</th>
        <th>CNT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tempImages">
        <td>{{data.formulario_id}}</td>
        <td>{{data.linea}}</td>
        <td>{{data.cuadrante}}</td>
        <td>{{data.rama}}</td>
        <td>{{data.cnt}}</td>
      </tr>
    </tbody>
  </table>
</div>
</ng-template>
